.App {
  text-align: center;

}



.card {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 1rem;
}

.card img {
  max-width: 100%;
  object-fit: cover;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.list {
  display: inline-flex;
  flex-wrap: wrap;
}

.container {
  text-align: center;
  padding-bottom: 10px;
}

.container h6 {
  color: #696969;

}

.container h5 {
  overflow:hidden;
  line-height: 1.5rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}


.form-outline {
  margin-bottom: 20px;

}

#form1 {
  width: 200px;
  border-radius: 18px;
  height: 39px;
  border: solid 1px mediumvioletred;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  outline: none !important;
  padding-left: 5px;
}


.big-card {
  display: flex;
}

.photo-card {
  width: 317px;
}

#page-select {
  margin-left: 5px;
  border-radius: 5px;
  width: 40px;

}







